body {
    font-family: HelveticaNeue;
    color: #333;
}

.link {
    stroke: #000;
    stroke-width: 1.5px;
}

.node {
    cursor: move;
    stroke: #000;
    stroke-width: 1.5px;
}

.button {
    padding: 10px;
}

#status {
    padding: 10px;
}

