body {
    font-family: HelveticaNeue, Helvetica;
    color: #333;
}

#graph {
    width: 1024;
}

.link {
    stroke: #777;
    stroke-width: 1.5px;
}

#arrowhead {
    stroke: #777;
    fill: #777;
}

.node {
    stroke: #777;
    stroke-width: 1.5px;
}

.node.data {
    cursor: move;
}

.node.data.hover {
    stroke-width: 3px;
}

.node-label.data {
    cursor: move
}

.button {
    padding: 10px;
}

#status {
    padding: 10px;
}

